!!!5
html(lang = 'en')
  head
    title= title
    meta(name = 'description', 'This is the MMORPG that Ross and Cody built.')
    meta(name = 'author', content = 'Ross Hadden, Cody Mays')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    meta(name = 'google-site-verification', content = '2zvM0MQYwi9b4V2sMpBHkQHPt20qZAsARcxAv57fZTw')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #main
      block content
    ol#log(reversed)
    
    script(src = '/js/lib/plugins.js')
    script(src = '/engine/lib/require.js', 'data-main' = '/js/main')
    block foot
