body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  color: #00b7ff;
}
body > * {
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;
}
body header {
  padding: 2px 20px;
  border: 2px solid #000;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background: #363;
  text-align: center;
  font-size: 18px;
}
body #main {
  margin-top: 10px;
  padding: 20px;
  border: 2px solid #000;
  background: #363;
  text-align: center;
}
body #log {
  max-height: 48px;
  background: #000;
  color: #393;
  font-size: 12px;
  overflow: auto;
}
body #engine-cache canvas {
  display: none;
}
